# Ignore virtual environment
venv/
.env/

# Ignore database files
*.sqlite3
*.db

# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore static files (if collected)
staticfiles/

# Ignore media files
media/

# Ignore environment variables
.env
.env.local