<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Living with the young men of the CHURCH OF JESUS CHRIST OF LATTER DAYS SAINTS" />
        <meta name="author" content="owolabi brothers" />
        <title>LDS - Young men</title>
        <!-- Favicon-->
        <link rel="icon" href={% static "/assets/logo.jpg" %} />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" href="https://lds.org">The Church of  Jesus Christ Of Latter Days Saint</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
                            
                            <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownBlog" href="/blog-home.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">Blog</a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" href="blog-home.html">Blog Home</a></li>
                                    <li><a class="dropdown-item" href="blog-post.html">Blog Post</a></li>
                                </ul>
                            </li>

                            <li>
                                <form action="/see" method="get">
                                    <input type="search" name="search"></li><li> <button type="submit" style="background-color: rgba(255, 255, 255, 0); border-style: none;"><img src="/static/assets/search.png" width="30"></button>
                                </form>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Header-->
            <header class="py-5"style=" transition: background 3s;">
                <div class="container px-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-8 col-xxl-6">
                            <div class="text-center my-5">
                                <h1 class="fw-bolder mb-3">Our mission is to repair the world with restored gospel of Jesus Christ.</h1>
                                <p class="lead fw-normal text-muted mb-4">We are the The Church Of Jesus Christ Of Latter Days Saints Young men that will reflect Christ for the world to see.</p>
                                <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- About section one-->
            <section class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="static/assets/logo.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Our founding</h2>
                            <p class="lead fw-normal text-muted mb-0">We are inspired to share the gospel serve as missionaries and reflect the gospel taught in the Chruch Of Jesus Of Latter Days Saints inother to make the world a better places and prepare the world for the saviour's return.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About section two-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="static/assets/ldsym.jpg" alt="..." /></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Growth &amp; beyond</h2>
                            <p class="lead fw-normal text-muted mb-0">The young men of The Chruch Of Jesus Christ Of Latter Days Saint improved by keeping the two greatest commandment and that is love God and love one another so with this we say <q>WE LOVE YOU</q>.</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Our team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/static/assets/bisho.jpg" alt="..." />
                                <h5 class="fw-bolder">Bishop Umoh</h5>
                                <div class="fst-italic text-muted">President of the young men</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/static/assets/david.jpg" alt="..." />
                                <h5 class="fw-bolder">Owolabi David </h5>
                                <div class="fst-italic text-muted">2nd Counsellor of the Priest quroem</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                                <h5 class="fw-bolder">Egamba Prince</h5>
                                <div class="fst-italic text-muted">2nd Counsellor of the Priest quroem</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="/static/assets/jame.jpg" alt="..." />
                                <h5 class="fw-bolder">Ekwunaife James</h5>
                                <div class="fst-italic text-muted">Manager</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- Footer-->
        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Your Website 2023</div></div>
                    <div class="col-auto">
                        <a class="link-light small" href="/static/#!">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/static/#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="/static/#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="/static/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>
        <script>
            let i = 0
             function move() { 
                 imgs = [,"url('static/assets/ymp.jpeg')","url('static/assets/lds.jpeg')","url('static/assets/bisho.jpg')","url('static/assets/jame.jpg')",,"url('static/assets/more_ym.jpeg')", "url('static/assets/Mormon-book.jpg')","url('/static/assets/ldsym.jpg')","url('static/assets/dac.jpeg')","url('static/assets/presido.jpeg')" ,"url('static/assets/dac.jpeg')","url('static/assets/scr.jpeg')","url('static/assets/js.jpeg')"]
                 //,"url('static/assets/slide/presido.jpg')""url('static/assets/slide/more_ym.jpg')"
                 console.log(imgs[i])
                 document.querySelector('header').style.backgroundImage = imgs[i] 
                 setTimeout(() => {
                     //noting
                     
                     console.log("It worked"+i)
                 }, 3000);
                 i += 1
                 if(i > 14){
                     i = 0
                 }
                 if (imgs[i] == "url('static/assets/presido.jpeg')") {
                     document.getElementById('img').src = "static/assets/logo.jpg"
                 } else{
                     document.getElementById('img').src = '/static/assets/ldsym.jpg'
                 }
                 
 
             }
                 
 
             
              setInterval(move, 5000);
         </script>
    </body>
</html>
